<nav id="navDesktop">
  <a href="https://montrealmuseum.herokuapp.com"><div id="logoMTL"><img src="https://cdn.glitch.com/c7f5badd-d247-4704-915a-715fa4802159%2FTM_logo_Montreal_blanc%20web.png?v=1578566433721"/></div></a>
  <button id="backBtn" onclick="window.history.back()">< Retour</button>
</nav>
<div class="content">
  <header><h1><%= @district.district_name %></h1></header>

  <table class="table table-hover container">
    <tbody>
      <div class="card-columns m-5">
      <% @district.arts.each do |art| %>
        <div class="card">
          <img src="<%= art.photo %>" class="card-img-top img-fluid"/>
          <div class="card-body">
            <button class="card-click" onclick="window.location.href='/arts/<%= art.id %>'"><h4 class="card-title"><%= art.title %></h4></button>
            <p class="card-subtitle"><%= art.author %>, <%= art.year %></p>
            <p class="card-info"><%= art.description %></p>
            <button class="card-click" onclick="window.location.href='/arts/<%= art.id %>/edit'"><p class="card-info card-modify">Modifier</p></button>
            </br>
            <p class="card-text btn float-left"><%= link_to art.district, art.district %></p>
            <p class="card-text btn float-right"><%= link_to art.category, art.category %></p>
          </div>
        </div>
        <% end %>
      </div>
    </tbody>
  </table>

  <footer>
    Evan Martin, 2020.
    </br>
    <a target="_blank" href="https://www.instagram.com/evanmartiin/"><img id="instaLogo" src="http://www.llumac.cat/iconpics/f/25/250393/instagram-logo-png.png"></a>
    <a target="_blank" href="https://www.linkedin.com/in/evan-martin-925805194/"><img id="linkedinLogo" src="https://cdn.glitch.com/c7f5badd-d247-4704-915a-715fa4802159%2Flogo_linkedin.png?v=1578761028416"></a>
  </footer>
</div>
