<!DOCTYPE html>
<html>
  <head>
    <title>Montréal - Tourisme</title>
    <link rel="icon" type="image/png" href="https://cdn.glitch.com/c7f5badd-d247-4704-915a-715fa4802159%2Flogo-montreal.png?v=1578765896938"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onload="resize()" onresize="resize()">
    <%= yield %>
  </body>
</html>
